@import 'core';

.Dashboard {

  .leagues-container {
    margin-top: 20px;

    .leagues-header {
      color: lighten($sw-or-gray, 40%);
      font-size: 20px;
      font-weight: 600;
      padding: 5px;
      background-color: lighten($sw-or-black, 30%);
      border: solid $sw-or-black 1px;
      border-bottom: none;
      border-radius: 5px 5px 0 0;

      .league-filter {
        float: right;
        margin-top: 5px;
        max-width: 150px;
      }
    }

    .leagues-footer {
      height: 10px;
      margin-bottom: 20px;
      background-color: lighten($sw-or-black, 30%);
      border: solid $sw-or-black 1px;
      border-radius: 0 0 5px 5px;
      border-top: none;
    }
  }
}
