@import "core";

.Leagues {

  .button {
    float: right;
    box-shadow: $box-shadow;
    width: 150px;
  }

  .button-container {

    
    .new-league-button {
      padding: 20px 0;
      background-color: lighten($sw-or-maroon, 20%);

      &:hover {
        background-color: lighten($sw-or-maroon, 30%);
      }
    }

    .view-button {
      background-color: lighten($sw-or-blue, 20%);

      &:hover {
        background-color: lighten($sw-or-blue, 30%);
      }
    }
  }
}
