@import "core";

.Leagues {

  .new-button-container {

    padding: 20px 0;

    .new-league-button {
      width: 150px;
      background-color: lighten($sw-or-maroon, 20%);
      box-shadow: $box-shadow;

      &:hover {
        background-color: lighten($sw-or-maroon, 30%);
      }
    }
  }
}
