@import "core";

.NewLeague {
  

  .form-container {
    background-color: $sw-or-black;
    color: $sw-or-tan;
    border: solid lighten($sw-or-brown, 20%) 1px;
    border-radius: 10px;
    box-shadow: $box-shadow;

    .form {
      background-color: lighten($sw-or-black, 10%);
      border-radius: 0 0 10px 10px;

      .css-26l3qy-menu {
        color: black;
      }

      .form-section {
        margin: 10px 0;
      }

      .dates, .set-date, .points, .points-box, .set-points {
        display: flex;
      }

      .points-box {
        border: solid lighten($sw-or-gray, 10%) 2px;
        border-radius: 5px;
        flex-direction: row-reverse;

        button, .point-display {
          background-color: lighten($sw-or-black, 10%);
          border-radius: 0;
          text-align: center;
          font-size: 17px;
          color: white;
          width: 50px;
          height: 40px;
          padding: 10px 0;
        }
      }

      .react-datepicker-wrapper {
        display: block;
        height: 54px;
        width: 154px;
        button {
          font-size: 1px;
          background: none;
        }
        
        .react-datepicker__navigation--previous, .react-datepicker__navigation--next {
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }

        .react-datepicker__navigation--previous {
          border-right: 10px solid $sw-or-gray;
        }
    
        .react-datepicker__navigation--next
        {
          border-left: 10px solid $sw-or-gray;

        }
      }
    }
  }

   }
  

  
