@import "core";

.SignIn{

  .sign-in-card {
    width: 100%;
    max-width: 500px;
    @include breakpoint-max(bp(large));
    margin: 64px auto;
    text-align: center;
    background-color: white;
    box-shadow: $box-shadow;
  }

  .sign-in-body {
    padding: 20px;
  }
  
  .sign-in-card-title {
    padding: 15px;
    background-color: lighten($sw-or-black, 10%);
    color: white;
    font-size: 24px;
    font-weight: 600;
  }

  .cta-wrap {
    margin: auto;
    max-width: 240px !important;

    .sign-in-card-cta {
      font-size: 20px;
      font-weight: 500;
      border-radius: 3px;
      padding: 5px 8px;
      background-color: $sw-or-brown;
      color: white;
      box-shadow: $box-shadow;

      &:hover {
        background: lighten($sw-or-brown, 10%);
      }
    }
  }
}
