@import "core";

.NewLeague {
   

    .react-datepicker-wrapper {

      button {
        font-size: 1px;
        background: none;
      }
      
      .react-datepicker__navigation--previous, .react-datepicker__navigation--next {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }

      .react-datepicker__navigation--previous {
        border-right: 10px solid $sw-or-gray;
      }
  
      .react-datepicker__navigation--next
       {
        border-left: 10px solid $sw-or-gray;

      }
    }

   }
  

  
