.Header {
  .nav-wrapper {
    background-image: linear-gradient(rgb(120, 120, 120), rgb(40, 40, 40));
    padding: 10px 10px 0 30px;
    border-radius: 0 0 15% 15%;
    color: white;
    height: 64px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .menu-wrap {
    display: flex;
    position: fixed;
    padding: 0;
    right: 0%;
    top: 0%;
    z-index: 1;
    .toggler {
      position: absolute;
      right: 0%;
      top: 10px;
      z-index: 2;
      cursor: pointer;
      width: 50px;
      height: 50px;
      opacity: 0;
      &:checked ~ .main-menu {
      right: 0;
      transition: all 0.4s ease;
      }
      &:hover:checked + .hamburger > div {
          background-color: darken(white, 30%)
      }
      &:checked + .hamburger > div {
        transform:  rotate(135deg);
        &::before, &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
    .hamburger {
      position: absolute;
      right: 10px;
      top: 14px;
      z-index: 1;
      cursor: pointer;
      width: 60px;
      height: 60px;
      padding: 1rem;
      > div {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: white;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
      }
      > div:before, > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 3px;
        background: inherit;
      }
      > div:after {
        top: 10px;
      }
    }
  }

  .nav-logo {
    width: calc(100% - 320px);

    > * {
      margin-right: 10px;
    }
  }

  .main-menu {
    position: absolute;
    transition: all 0.4s ease;
    top: 0;
    right: -150px;
    width: 145px;
    height: 2000px;
    padding: 50px 0 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(139, 139, 139);
  }

  i {
    font-size: 28px;
  }

  a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    &:hover {
        color: #b8b8b8;
      }
  }

  .home-link:hover {
    color: white;
  }

  .nav-items {
    padding: 15px 0;
    li {
      padding: 10px 30px;
      display: flex;      
      flex-direction: row-reverse;
      text-shadow: 2px 2px rgb(129, 129, 129);
    }
  }

  #sign-in {
    padding: 15px 30px 5px 30px;
  }
}
