@import "core";

.Header {

  & * {
    display: inline-block;
  }

  .header-wrapper {
    height: ($nav-height + 10px);
  }

  .nav-wrapper {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(rgb(120, 120, 120), rgb(40, 40, 40));
    padding: 10px 0 0 25px;
    color: white;
    height: $nav-height;
    z-index: 1;
    box-shadow: $box-shadow;
  }

  .toggler {
    opacity: 0;
    position: absolute;
  }

  .nav-logo {
    width: 40%;
    height: $nav-height;
    display: inline-block;

    > * {
      margin-right: 10px;
    }
  }

  .menu-wrap {
    width: 60%;
    height: $nav-height;
    position: absolute;
    right: 0;
    top: 0;

    .main-menu {
      position: absolute;
      right: 0;
      top: 0;

      a {
        padding: 15px;
      }

      .sign-out, .sign-in {
        font-size: 14px;
        margin: 0 5px 0 15px;
      }
  }
  

  }

  i {
    font-size: 28px;
  }

  a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    
    &:hover {
        color: #b8b8b8;
      }
  }

  .home-link:hover {
    color: white;
  }
}

// Break To Hamburger
@include breakpoint-max(bp(medium)) {
  
  .Header {

  .nav-logo {
    width: 100%;
  }

  .menu-wrap {
    width: 0;

    .main-menu {
      transition: all 0.4s ease;
      top: 0px;
      right: -150px;
      width: 145px;
      height: 2000px;
      padding: 50px 0 10px 0;
      box-shadow: $box-shadow;
      background-color: rgb(139, 139, 139);
    }

    .sith-saber {
      width: 20px;
      transform: rotate(45deg);
      opacity: 0;
    }

    .toggler {
      right: 5px;
      top: 5px;
      z-index: 2;
      cursor: pointer;
      width: 50px;
      height: 50px;

      &:checked ~ .main-menu {
      right: 0;
      
      }

      &:checked + .hamburger > .jedi-saber {
        transform:  rotate(135deg);
        top: -4px;
        left: -1px;
        background-image: linear-gradient(red, rgb(255, 221, 221), red);
        height: 4px;
        width: 35px;
        border-radius: 3px;

        &::before {
          border-radius: 3px;
          top: 2px;
          right: 1px;
          height: 5px;
          width: 30px;
          transform: rotate(90deg);
          background-image: linear-gradient(rgb(26, 190, 240), white, rgb(26, 190, 240));
        }

        &::after {
          top: -20px;
          left: 11px;
          height: 6px;
          width: 15px;
          transform: rotate(90deg);
          background-image: linear-gradient( rgb(117, 117, 117), rgb(167, 167, 167), rgb(116, 116, 116));
          border: solid rgb(85, 85, 85) 1px;
          border-radius: 3px 2px 2px 3px;
        }
      }

      &:checked + .hamburger > .sith-saber {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: .1s;
        position: relative;
        background-image: linear-gradient(red, rgb(255, 211, 211), red);
        
        height: 4px;
        border-radius: 40%;
        top: -16px;
        right: 6px;
        
        &::before {
          opacity: 1;
          border-radius: 3px 0 0 3px;
          top: 4px;
          right: 1px;
          height: 5px;
          width: 18px;
          transform: rotate(90deg);
          background-image: linear-gradient(rgb(0, 0, 0), rgb(124, 124, 124), rgb(0, 0, 0));
        }

        &::after {
          opacity: 1;
          top: 0;
          left: 5px;
          height: 4px;
          width: 10px;
          background-image: linear-gradient(rgb(0, 0, 0), rgb(136, 136, 136), rgb(0, 0, 0));
        }
      }
    }

    .hamburger {
      position: fixed;
      right: 5px;
      top: 5px;
      z-index: 1;
      cursor: pointer;
      width: 60px;
      height: 60px;
      padding: 1rem;

      > .jedi-saber {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.4s ease;
      }

      > .jedi-saber:before, > .jedi-saber:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 3px;
        background: inherit;
      }

      > .sith-saber:before, > .sith-saber:after {
        content: '';
        opacity: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 3px;
        background: inherit;
      }

      > .jedi-saber:after {
        top: 10px;
      }
    }
  }
}
}
