@import "core";
@import "vendor/bitters/base";

* {
    text-decoration: none;
    font-family: 
         -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

body {
  background-color: lighten($sw-or-gray, 30%);
  
}

.page-header {
    padding: 20px 10px;
    font-size: 1.5em;
  }
